<html>
<head>
</head>
<body>
#display an option to play as computer or guesser
<form action="/game">
  <label for="computer">Would you like to play as the codebreaker or code-maker?</label>
  <br />
  <input type="radio" id="Code breaker" name="human" value="Code breaker" checked />
  <label for="Code breaker">Code breaker</label>
  <br />
  <input type="radio" id="Code maker" name="human" value="Code maker" />
  <label for="Code maker">Code maker</label>
  <br />
  <input type="submit" value="Submit" />
<end>

<form>
</body>
</html>